body {
    background-image: url(2.png);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    margin: 0 auto;
    display: inline;
    box-shadow: 0 0 8px 8px white inset;
}
   
   .form1 {
    width:160px;
   }
   a{
       color:blue;
   }
   .primary_btn {
    display: inline-block;
    background: #60bc0f;
    padding: 0px 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    border: 1px solid #60bc0f;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms linear 0s;
